<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lemonway Credit Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Credit Card</h1>
        <hr class="my-4">
        <form method="post" action="{{ action }}" style="display: inline-block">
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-lg btn-primary">Valider</button>
        </form>

        <form method="post" action="{{ action }}" style="display: inline-block">
            <input type="hidden" name="error" value="1">
            <button type="submit" class="btn btn-lg btn-danger">Refuser</button>
        </form>
    </div>
</div>

</body>
</html>