version: '3.5'
services:
    php:
        build:
            context: ..
            dockerfile: docker/php/Dockerfile
            args:
                UID: "${DOCKER_UID:-1000}"
        volumes:
            - ..:/var/www/html
        ports:
            - "${HTTP_PORT:-8891}:80"
