{% extends 'base.html.twig' %}

{% block body %}
    <b-card-group deck>
        <b-card header="Transactions" header-class="font-weight-bold" header-text-variant="light" header-bg-variant="dark">
            <b-list-group v-for="transaction in transactions">
                <b-list-group-item href="#" class="d-flex justify-content-between align-items-center" variant="" v-on:click="transaction.active = !transaction.active">
                    <div>
                        <b-badge variant="primary" pill>${transaction.id}</b-badge>
                        <b-badge>reference: ${transaction.reference}</b-badge>
                        <b-badge variant="warning">${transaction.type}</b-badge>
                    </div>

                    <b-badge variant="primary" pill>${transaction.processorName}</b-badge>
                </b-list-group-item>
                <pre v-show="transaction.active" v-highlightjs><code class="php"> ${transaction.data}</code></pre>
            </b-list-group>
        </b-card>

        <b-card header="Users" header-class="font-weight-bold" header-text-variant="light" header-bg-variant="dark">
            <b-list-group v-for="user in users">
                <b-list-group-item href="#" class="d-flex justify-content-between align-items-center" variant="" v-on:click="user.active = !user.active">
                    <div>
                        <b-badge variant="primary" pill>${user.id}</b-badge>
                        <b-badge variant="">${user.firstname} ${user.lastname}</b-badge>
                        <b-badge variant="">${user.email}</b-badge>
                    </div>

                    <b-badge variant="primary" pill>${user.processorName}</b-badge>
                </b-list-group-item>
                <pre v-show="user.active" v-highlightjs><code class="php">${user}</code></pre>
            </b-list-group>
        </b-card>
    </b-card-group>
{% endblock %}
