{% extends 'base.html.twig' %}

{% block body %}
    <b-row class="justify-content-md-center mt-4">
        <b-col col lg="4">
            <b-card header="Credit Card" header-class="font-weight-bold" header-text-variant="light" header-bg-variant="dark">
                <form method="post" action="{{ action }}" style="display: inline-block">
                    <input type="hidden" name="transactionId" value="{{ transactionId }}">
                    <button type="submit" class="btn btn-lg btn-primary">Valider</button>
                </form>

                <form method="post" action="{{ action }}" style="display: inline-block">
                    <input type="hidden" name="error" value="1">
                    <button type="submit" class="btn btn-lg btn-danger">Refuser</button>
                </form>
            </b-card>
        </b-col>
    </b-row>

{% endblock %}
